.App {
  text-align: center;
}

nav {
  border-bottom: 10px solid orange;
}

ul {
  display : flex;
  justify-content: space-evenly;
}

a {
  color : orange;
  text-decoration: none;
}


li {
  list-style: none;
  padding: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.title {
  color: black;
}

.title:hover, .navBar:hover {
  text-decoration: underline;
}

.author {
  font-style: italic;
}
